@font-face {
    font-family: 'Hasklig';
    src: url('hasklig-regular.woff2') format('woff2'),
         url('hasklig-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}