@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-regular.woff2') format('woff2'), url('woff/iosevka-regular.woff') format('woff');
}
