@font-face {
  font-family: "mononoki Regular";
  src: url("mononoki-Regular.woff2") format("woff2"), /* Super Modern Browsers */ 
    url("mononoki-Regular.woff") format("woff"); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mononoki Bold";
  src: url("mononoki-Bold.woff2") format("woff2"), /* Super Modern Browsers */ 
    url("mononoki-Bold.woff") format("woff"); /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "mononoki Italic";
  src: url("mononoki-Italic.woff2") format("woff2"), /* Super Modern Browsers */ 
    url("mononoki-Italic.woff") format("woff"); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mononoki BoldItalic";
  src: url("mononoki-BoldItalic.woff2") format("woff2"), /* Super Modern Browsers */ 
    url("mononoki-BoldItalic.woff") format("woff"); /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
