@import '~antd/dist/antd.dark.css';
/* @import '~antd/dist/antd.compact.css'; */

a, .ant-btn {
  text-shadow: none;
  color: rgba(255, 255, 255, 0.85);
}

.no-after::after { 
  content: '' !important;
}

body {
  background-color: #1b1e2b;
}

//////////////////////
$margin: .5rem;

.filter-wrapper {
  .ant-badge {
    margin-left: $margin;
  }
}

.compare-switch {
  margin: $margin 0.4em;
}

.row-spacer {
  margin: $margin 0;
}

.links-row {
  .anticon {
    font-size: 25px;
  }

  a {
    margin: 0 5px;
  }
}