@import '~antd/dist/antd.dark.css';
/* @import '~antd/dist/antd.compact.css'; */

a {
  text-shadow: none;
}

body {
  background-color: #1b1e2b;
}

.filter-wrapper {
  .ant-badge {
    margin-left: 0.5em;
  }
}

.compare-switch {
  margin: 0 0.4em;
}

.row-spacer {
  margin: .3em 0;
}
