.font-header { 
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 0.8em;
  margin-top: 2em;
}

.font-labels {
  display: flex;
  align-items: center;
}

.font-name {
  margin-bottom: 0 !important;
  margin-right: 0.4em;
}

.codemirror-wrapper {
  position: relative;

  .codemirror-buttons {
    display: none;
  }

  &:hover {
    .codemirror-buttons {
      display: initial;
    }
  }
}

.codemirror-buttons { 
  z-index: 10;
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.font-compare {
  margin-right: .7em;
}
